---
import ProductCard from "../Cards/ProductCard.astro";
const url = "/"

---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">Nuestros Productos</h2>
            <p class="mt-4 text-xl text-gray-600 max-w-3xl mx-auto">
                Servicio de impresi贸n 3D y dise帽o especializados en la rapidez, calidad, exclusividad y personalizaci贸n de nuestros productos.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <ProductCard 
                imagen={url+"algo.jpeg"}
                title="Accesorios decorativos" 
                description="Impresi贸n de carteles en alta calidad para eventos, promociones, conciertos y m谩s. Perfectos para llamar la atenci贸n de tu audiencia." 
                buttonText="Ver m谩s" 
            />
            <ProductCard 
                imagen={url+"miniaturas/miniatura.jpeg"}
                title="Figuras de acci贸n" 
                description="Dise帽o e impresi贸n profesional de folletos para presentaciones, informes, cat谩logos y material promocional." 
                buttonText="Ver m谩s" 
            />
            <ProductCard 
                imagen={url}       
                title="Accesorios Empresariales" 
                description="Impresi贸n de maquetas en alta calidad para eventos, promociones, conciertos y m谩s. Perfectos para llamar la atenci贸n de tu audiencia." 
                buttonText="Ver m谩s" 
            />
            <ProductCard 
                imagen={url}       
                title="Accesorios Empresariales" 
                description="Impresi贸n de maquetas en alta calidad para eventos, promociones, conciertos y m谩s. Perfectos para llamar la atenci贸n de tu audiencia." 
                buttonText="Ver m谩s" 
            />
            <ProductCard 
                imagen={url}       
                title="Accesorios Empresariales" 
                description="Impresi贸n de maquetas en alta calidad para eventos, promociones, conciertos y m谩s. Perfectos para llamar la atenci贸n de tu audiencia." 
                buttonText="Ver m谩s" 
            />
            <ProductCard 
                imagen={url}       
                title="Accesorios Empresariales" 
                description="Impresi贸n de maquetas en alta calidad para eventos, promociones, conciertos y m谩s. Perfectos para llamar la atenci贸n de tu audiencia." 
                buttonText="Ver m谩s" 
            />

        </div>
        <div class="flex items-center justify-center mt-10">
            <span class="text-6xl font-black"></span>
            <p class="ml-4 text-xl text-gray-600 max-w-3xl text-center">
                Contamos con servicio a domicilio en 
                <span class="font-bold text-blue-600">
                    Playas, Marianao, Cerro, Boyero y Vedado
                </span>
                para entregar tus pedidos con la rapidez y profesionalizacion que esperas.
            </p>
        </div>
    </div>  
</section>