---
import ProductCard from "../Cards/ProductCard.astro";
const url = "/"

---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">Nuestros Productos</h2>
            <p class="mt-4 text-xl text-gray-600 max-w-3xl mx-auto">
                Servicio de impresi贸n 3D y dise帽o especializados en la rapidez, calidad, exclusividad y personalizaci贸n de nuestros productos.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <ProductCard 
                imagen={url+"algo.jpeg"}
                title="Accesorios decorativos" 
                description="Impresi贸n de accesorios decorativos para tu mesa de trabajo o adornar tu casa." 
                buttonText="Ver m谩s" 
                slug="accesorios-decorativos"
            />
            <ProductCard 
                imagen={url+"miniatura.jpeg"}
                title="Figuras de acci贸n" 
                description="Dise帽o e impresi贸n profesional de figuras de acci贸n para adornar tu casa." 
                buttonText="Ver m谩s"
                slug="figuras-de-accion"
            />
            <ProductCard 
                imagen={url + "accesorio.jpg"}       
                title="Accesorios Empresariales" 
                description="Impresi贸n de accesorios empresariales para tu oficina o para decorar tu lugar de trabajo." 
                buttonText="Ver m谩s"
                slug="accesorios-empresariales"
            />
            <ProductCard 
                imagen={url + "llavero.jpeg"}       
                title="Llaveros" 
                description="Impresi贸n de llaveros para tu oficina o para decorar tu lugar de trabajo." 
                buttonText="Ver m谩s"
                slug="llaveros"
            />
            <ProductCard 
                imagen={url +"regalo.jpeg"}       
                title="Regalos" 
                description="Impresi贸n de regalos para tu oficina o para decorar tu lugar de trabajo." 
                buttonText="Ver m谩s"
                slug="regalos"
            />
            <ProductCard 
                imagen={url +"maqueta.jpeg"}       
                title="Maquetas" 
                description="Impresi贸n de maquetas para tu proyectos de escuela o mostrar en presentaciones de trabajo." 
                buttonText="Ver m谩s"
                slug="maquetas"
            />

        </div>
        <div class="flex items-center justify-center mt-10 sm:flex-row flex-col">
            <span class="text-6xl font-black"></span>
            <p class="ml-4 text-xl text-gray-600 max-w-3xl text-center">
                Contamos con servicio a domicilio en 
                <span class="font-bold text-blue-600">
                    Playas, Marianao, Cerro, Boyero y Vedado
                </span>
                para entregar tus pedidos con la rapidez y profesionalizacion que esperas.
            </p>
        </div>
    </div>  
</section>