---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductSecion from '../components/sections/productSecion.astro';
import WorkSection from '../components/sections/workSection.astro';
---

<Layout>
  <Hero/>
  <div id="servicios">
    <ProductSecion />
  </div>

  <div id="proceso">
    <WorkSection />
  </div>
</Layout>
