---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductSecion from '../components/sections/productSecion.astro';
import WorkSection from '../components/sections/workSection.astro';
---

<Layout title="Printur3D" 
description="Creamos soluciones y recuerdos en 3D. Desde prototipos útiles y decorativos hasta regalos. Especializados en la rapidez, calidad, exclusividad y personalización de nuestros productos"
>
  <Hero/>
  <div id="servicios">
    <ProductSecion />
  </div>

  <div id="proceso">
    <WorkSection />
  </div>
</Layout>
